body{
	background: #f2f2f2;
	font-family: sans-serif;
}

a{
	text-decoration: none;
}
	
.topo{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	background: #6666ff;
}

#user-topo-foto{
	width: 40px;
	border-radius: 20px;
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -20px;
}

#user-topo-name{
	color: white;
	position: absolute;
	left: 80px;
	font-size: 16px;
	top: 50%;
	margin-top: -8px;
}

#sair{
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
}

#user-topo-pesquisa{
	width: 30%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -15px;
	margin-left: -15%;
	font-size: 15px;
	border-radius: 5px;
	padding: 5px;
}
.centro{
	position: absolute;
	left: 5%;
	right: 30%;
	top:80px;
	background: white;
	border:thin solid gray;
}

#box-ask{
	position: relative;
}

#box-ask-a{
	color: black;
	position: relative;
	left: 0;
	margin:5%;

}
#box-ask-responder{
	margin-left: 10px;

}

#box-ask-apagar{
	margin-left: 100px;
}